<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task Form</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>

<div th:replace="fragments :: header"></div>

<div class="container">

    <h2 th:text="${task.id == null} ? 'Nouvelle tâche' : 'Modifier tâche'"></h2>

    <form th:action="@{/save}" method="post" th:object="${task}" class="task-form">

        <input type="hidden" th:field="*{id}">

        <input type="text"
               th:field="*{title}"
               placeholder="Title"
               required>

        <input type="text"
               th:field="*{description}"
               placeholder="Description"
               required>

        <button type="submit"
                th:text="${task.id == null} ? 'Ajouter' : 'Modifier'">
        </button>

    </form>

</div>

<div th:replace="fragments :: footer"></div>

</body>
</html>